$peach:  #f7ede2;
$blue-skies: #d2dde3;
$blues-blue: #373a6a;
$tomato: #dd3f18;
$red-wine: linear-gradient(
    334deg
    , black, #480000, black);
$white-wine: linear-gradient(
    334deg
    , #EED490, #D2B14F, #EED490 );
